* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}


  #main-screen {
    display: flex;
  
    #main-display {
      display: flex;
      flex-direction: column;
      width: 100%;

      #canvas {
        width: 100%;
        height: calc(100vh - 60px);
        flex-grow: 1;
        height: calc(90vh - 40px);
        border: 1px solid;
      }

      #legend {
        padding: 20px;
      }
    }
  }